<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <form action="/company">
        <label for="company">Enter company name:</label>
        <input type="text" id="company" name="company">
        <button type="submit">Submit</button>
    </form>
</body>